"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 120000
  "autocomplete-clang":
    preCompiledHeaders: {}
    std: {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "symbols-view"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    autoIndent: false
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "5c0bee82-86eb-8e8b-b549-1767a1930439"
  "file-icons": {}
  "terminal-panel": {}
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
